{% set pageTitle = "Order LFD test kits Prototype" %}
{% extends "layout.html" %}

{% block content %}

<h1 class="govuk-heading-l">
    {{ pageTitle }}
</h1>



<h2 class="govuk-heading-m">
    Useful links
</h2>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
    <li>
        <a href="https://github.com/NHS-Test-Digital-Design/ibt-order-lfd" class="govuk-link">Github repo home</a>
    </li>
    <li>
        <a href="https://github.com/NHS-Test-Digital-Design/ibt-order-lfd/pulls" class="govuk-link">Github pull requests</a>
    </li>
    <li>
        <a href="https://miro.com/app/board/uXjVPXHQi18=/?moveToWidget=3458764533303368309&cot=14" class="govuk-link">Miro design board</a>
    </li>
</ul>



{{ govukTable({
    caption: "Flow screens",
    firstCellIsHeader: true,
    head: [
        {
            text: "Screen"
        },
        {
            text: "File"
        },
        {
            text: "Status"
        }
    ],
    rows: [
        [
            {
                html: "<a href='../../' class='govuk-link'>Start screen</a>"
            },
            {
                text: "views/index.html"
            },
            {
                text:
                govukTag({
                    text: "Unchanged",
                    classes: "govuk-tag--blue"
                })
            }
        ],
        [
            {
                html: "<a href='../postcode' class='govuk-link'>Delivery postcode</a>"
            },
            {
                text: "order-lateral-flow-kits/postcode.html"
            },
            {
                text:
                govukTag({
                    text: "New",
                    classes: "govuk-tag--green"
                })
            }
        ],
        [
            {
                html: "<a href='../postcode' class='govuk-link'>Delivery country choice</a>"
            },
            {
                text: "order-lateral-flow-kits/country-choice.html"
            },
            {
                text:
                govukTag({
                    text: "Updated",
                    classes: "govuk-tag--yellow"
                })
            }
        ],
        [
            {
                html: "<a href='../error/unable-to-deliver' class='govuk-link'>Can not deliver to postcode</a>"
            },
            {
                text: "order-lateral-flow-kits/error/unable-to-deliver.html"
            },
            {
                text:
                govukTag({
                    text: "Unchanged",
                    classes: "govuk-tag--blue"
                })
            }
        ],
        [
            {
                html: "<a href='../error/tech-error' class='govuk-link'>Technical problem</a>"
            },
            {
                text: "order-lateral-flow-kits/error/tech-error.html"
            },
            {
                text:
                govukTag({
                    text: "Unchanged",
                    classes: "govuk-tag--blue"
                })
            }
        ],
        [
            {
                html: "<a href='../address-lookup/delivery-address-select' class='govuk-link'>Delivery address select</a>"
            },
            {
                text: "order-lateral-flow-kits/address-lookup/delivery-address-selectr.html"
            },
            {
                text:
                govukTag({
                    text: "Updated",
                    classes: "govuk-tag--yellow"
                })
            }
        ],
        [
            {
                html: "<a href='../address-lookup/delivery-address-manual' class='govuk-link'>Delivery address manual - w/postcode</a>"
            },
            {
                text: "order-lateral-flow-kits/address-lookup/delivery-address-manual.html"
            },
            {
                text:
                govukTag({
                    text: "Updated",
                    classes: "govuk-tag--yellow"
                })
            }
        ],
        [
            {
                html: "<a href='../address-lookup/confirm-home-address' class='govuk-link'>Confirm home address</a>"
            },
            {
                text: "order-lateral-flow-kits/address-lookup/confirm-home-address.html"
            },
            {
                text:
                govukTag({
                    text: "new",
                    classes: "govuk-tag--green"
                })
            }
        ],
        [
            {
                html: "<a href='../address-lookup/da-switch-confirm' class='govuk-link'>Confirm country switch postcode</a>"
            },
            {
                text: "order-lateral-flow-kits/address-lookup/da-switch-address.html"
            },
            {
                text:
                govukTag({
                    text: "new",
                    classes: "govuk-tag--green"
                })
            }
        ],
        [
            {
                html: "<a href='../address-lookup/da-switch-country-confirm' class='govuk-link'>Confirm country switch</a>"
            },
            {
                text: "order-lateral-flow-kits/address-lookup/da-switch-country-confirm.html"
            },
            {
                text:
                govukTag({
                    text: "new",
                    classes: "govuk-tag--green"
                })
            }
        ]

    ]
}) }}




{% endblock %}