{% extends "layout_question.html" %}

{% block content %}

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Accessibility statement for the Order COVID-19 rapid lateral flow tests service</h1>


     <p class="govuk-body">The purpose of the service is to allow a user to order a COVID-19 rapid lateral flow test.</p>

    <p class="govuk-body">This web platform is run by NHS England. We're committed to making the website as accessible as possible for people with visual, hearing, cognitive and motor impairments.</p>

    <p class="govuk-body">This means you should be able to:</p>
        <ul class="govuk-list govuk-list--bullet">
             <li>change colours, contrast levels and fonts</li>
             <li>zoom in up to 400% without the text spilling off the screen</li>
             <li>navigate most of the website using just a keyboard</li>
             <li>navigate most of the website using speech recognition software</li>
             <li>navigate the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
        </ul> 

    <p class="govuk-body">We've also made the website text as simple as possible to understand.<br>
    <a href="https://mcmw.abilitynet.org.uk/" rel="noopener">My Computer My Way</a> has advice on making your device easier to use if you have a disability.</p>

      <h2 class="govuk-heading-m">
        How accessible this website is
      </h2>

      <p>We know some parts of the websites are not fully accessible:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>occasionally the reCAPTCHA security check may be inaccessible to some users</li>
        <li>parts of the service cannot be completed when JavaScript is disabled while using Internet Explorer</li>
      </ul>

      <h2 class="govuk-heading-m">
        Feedback and contact information
      </h2>

      <p class="govuk-body">If you have feedback or a complaint about the accessibility of this service, contact us online at <a href="https://enquiries.test-and-trace.nhs.uk/">https://enquiries.test-and-trace.nhs.uk/</a>.</p>
      <p class="govuk-body">You can also call 119. <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/using-the-nhs-and-other-health-services/when-to-call-119/">Check 119 opening times</a>.</p>

       <h2 class="govuk-heading-m">
          Enforcement procedure
        </h2>

      <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you're not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" rel="noopener">contact the Equality Advisory and Support Service (EASS)</a>.</p>

        <h2 class="govuk-heading-m">
          Technical information about the accessibility of these websites
        </h2>

      <p class="govuk-body">NHS England is committed to making these websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

      <h3 class="govuk-heading-s">
        Compliance status
      </h3>

        <p class="govuk-body">These websites are partially compliant with the <a href="https://www.w3.org/TR/WCAG21/" rel="noopener">Web Content Accessibility Guidelines version 2.1</a> AA standard due to the non-compliances listed below.</p>

        <h2 class="govuk-heading-m">
          Non-accessible content
        </h2>

      <p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>

      <h3 class="govuk-heading-s">
        Non-compliance with the accessibility regulations
      </h3>

        <p>reCAPTCHA security check on the version of reCAPTCHA our service occasionally uses has an audio alternative, but this is not accessible to users. This fails WCAG 2.1 success criteria <a href ="https://www.w3.org/WAI/WCAG21/Understanding/keyboard">2.1.1 (A)</a>,
            <a href ="https://www.w3.org/WAI/WCAG21/Understanding/keyboard-no-exception">2.1.3 (AAA)</a>,
            <a href ="https://www.w3.org/WAI/WCAG21/Understanding/concurrent-input-mechanisms">2.5.6 (AAA)</a>,
            <a href ="https://www.w3.org/WAI/WCAG21/Understanding/parsing">4.1.1 (A)</a></p>
          <p>There are parts of the service that cannot be completed when JavaScript is disabled while using Internet Explorer. This fails WCAG 2.1 success criterion <a href ="https://www.w3.org/WAI/WCAG21/Understanding/parsing">4.1.1 (A)</a>. The service was designed to operate in this way and there are no plans in place to update this</p>
        

        <h2 class="govuk-heading-m">
          What we're doing to improve accessibility
        </h2>

            <p class="govuk-body">We try to make our services as accessible as possible. However, we might have missed something, so please let us know if you find any accessibility issues using the contact details in the ‘Feedback and contact information’ section.</p>

            <p class="govuk-body">In early 2023 we commissioned a Web Content Accessibility Guidelines (WCAG) version 2.1 accessibility audit of this website. The audit was carried out by <a href="https://diginclusion.com/" rel="noopener">Dig Inclusion</a> who are accessibility specialists. They looked at a selection of pages most likely to have accessibility concerns. The audit found some accessibility issues, which we have now fixed.</p>

            <p class="govuk-body">We have also established accessibility processes, which we use as part of our ongoing work. These processes help us to design and develop accessible content when we make a change to any of our websites.</p>

        <h2 class="govuk-heading-m">
            Preparation of this accessibility statement
        </h2>

            <p class="govuk-body">This statement was prepared on 27 October 2020. It was last reviewed on 25 September 2023.</p>

            <p class="govuk-body">This website was last tested in August 2023. The test was carried out by <a href="https://diginclusion.com/" rel="noopener">Dig Inclusion</a>.</p>

{% endblock %}
