{% set pageTitle = "What is your job title?" %}
{% extends "layout_question.html" %}

{% block content %}
    <form action="/order-lateral-flow-kits/login-choice" class="form" method="post">
        {{ govukInput({
            id: "job-title",
            name: "job-title",
            label: {
                text: pageTitle,
                classes: "govuk-label--l",
                isPageHeading: true
            }
        }) }}

        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}
    </form>
{% endblock %}