{% set pageTitle = "What is your job title?" %}
{% extends "layout_question.html" %}

{% block content %}
    <form action="/order-lateral-flow-kits/blind-partially-sighted" class="form" method="post">
        {{ govukInput({
            id: "job-title",
            name: "job-title",
            label: {
                text: pageTitle,
                classes: "govuk-label--l",
                isPageHeading: true
            },
            hint: {
                text: "For example, personal assistant, Shared Lives carer, Care Quality Commission (CQC) inspector or social worker"
            }
        }) }}

        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}
    </form>
{% endblock %}