{% set pageTitle = "What is your date of birth?" %}
{% extends "layout_question.html" %}

{% set linkurl %}
    {% if data['where-do-you-live']%}
    address-lookup/delivery-address-postcode
    {% else %}
    address-lookup/delivery-address-select
    {%endif%}
{% endset %}

{% block content %}
    <form action={{linkurl}} class="form" method="post">
        {# https://design-system.service.gov.uk/components/date-input/ #}
        {{ govukDateInput({
            id: "dob",
            namePrefix: "dob",
            fieldset: {
                legend: {
                    text: pageTitle,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            items: [
                {
                    name: "day",
                    label: "Day",
                    classes: "govuk-input--width-2"
                },
                {
                    name: "month",
                    label: "Month",
                    classes: "govuk-input--width-2"
                },
                {
                    name: "year",
                    label: "Year",
                    classes: "govuk-input--width-4"
                }
            ]
        }) }}

        {# https://design-system.service.gov.uk/components/button/ #}
        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}
    </form>
{% endblock %}