{% set pageTitle = "Check your answers" %}
{% extends "layout_question.html" %}

{% block content %}
    {# https://design-system.service.gov.uk/styles/typography/#headings #}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    <div class="govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-m">
            Reason for test
        </h2>
        {{ govukSummaryList({
            rows: [
                {
                    key: {
                        text: "Reason"
                    },
                    value: {
                        text: "Eligible for COVID-19 treatments"
                    },
                    actions: {
                        items: [
                            {
                                href: "#",
                                text: "Change",
                                visuallyHiddenText: "change reason for test"
                            }
                        ]
                    }
                }
            ]
        }) }}
    </div>

    <div class="govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-m">
            Personal details
        </h2>
        {{ govukSummaryList({
            rows: [
                {
                    key: {
                        text: "Name"
                    },
                    value: {
                        text: "Alex Kidd"
                    },
                    actions: {
                        items: [
                            {
                                href: "#",
                                text: "Change",
                                visuallyHiddenText: "change name"
                            }
                        ]
                    }
                },
                {
                    key: {
                        text: "Date of birth"
                    },
                    value: {
                        text: "6 December 2000"
                    },
                    actions: {
                        items: [
                            {
                                href: "#",
                                text: "Change",
                                visuallyHiddenText: "change date of birth"
                            }
                        ]
                    }
                },
                {
                    key: {
                        text: "Contact details"
                    },
                    value: {
                        html: "<p class='govuk-body'>your@email.com</p><p class='govuk-body'>07766 554321</p>"
                    },
                    actions: {
                        items: [
                            {
                                href: "#",
                                text: "Change",
                                visuallyHiddenText: "change your contact details"
                            }
                        ]
                    }
                },
                {
                    key: {
                        text: "Country of residance"
                    },
                    value: {
                        text: "England"
                    },
                    actions: {
                        items: [
                            {
                                href: "#",
                                text: "Change",
                                visuallyHiddenText: "change your country of residance"
                            }
                        ]
                    }
                },
                {
                    key: {
                        text: "Home address"
                    },
                    value: {
                        html: "<p class='govuk-body'>1 New Street, Your City, </p><p class='govuk-body'>NH48 1SD</p>"
                    },
                    actions: {
                        items: [
                            {
                                href: "#",
                                text: "Change",
                                visuallyHiddenText: "change your home address"
                            }
                        ]
                    }
                },
                {
                    key: {
                        text: "Delivery address"
                    },
                    value: {
                        html: "<p class='govuk-body'>1 New Street, Your City, </p><p class='govuk-body'>NH48 1SD</p>"
                    },
                    actions: {
                        items: [
                            {
                                href: "#",
                                text: "Change",
                                visuallyHiddenText: "change your delivery address"
                            }
                        ]
                    }
                }
            ]
        }) }}
    </div>

    <h2 class="govuk-heading-m">
        Declaration
    </h2>
    <p class="govuk-body">
        By ordering rapid lateral flow home tests, I confirm that: 
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>
            The information I've provided is up to date and correct 
        </li>
        <li>
            I agree with the Terms and conditions and Privacy policy of this service 
        </li>
        <li>
            I am happy to be contacted about my order 
        </li>
    </ul>

    {# https://design-system.service.gov.uk/components/button/ #}
        {{ govukButton({
            text: "Agree and place order",
            classes: "govuk-!-margin-top-4",
            href: "confirmation"
        }) }}

{% endblock %}