{% set pageTitle = "Check your answers" %}
{% extends "layout_question.html" %}

{% set monthConvert %}
    {% if data['dob-month'] or data['date-asked-month'] == "1" %}
        January
    {% elif data['dob-month'] or data['date-asked-month'] == "2" %}
        February
    {% elif data['dob-month'] or data['date-asked-month'] == "3" %}
        March
    {% elif data['dob-month'] or data['date-asked-month'] == "4" %}
        April
    {% elif data['dob-month'] or data['date-asked-month'] == "5" %}
        May
    {% elif data['dob-month'] or data['date-asked-month'] == "6" %}
        June
    {% elif data['dob-month'] or data['date-asked-month'] == "7" %}
        July
    {% elif data['dob-month'] or data['date-asked-month'] == "8" %}
        August
    {% elif data['dob-month'] or data['date-asked-month'] == "9" %}
        September
    {% elif data['dob-month'] or data['date-asked-month'] == "10" %}
        October
    {% elif data['dob-month'] or data['date-asked-month'] == "11" %}
        November
    {% elif data['dob-month'] or data['date-asked-month'] == "12" %}
        December
    {% endif %}
{% endset %}

{% set name %}
    {% if data['first-name'] %}
        {{ data['first-name'] + " " + data['last-name'] }}
        {% else %}
        Alex Kidd
    {% endif %}
{% endset %}

{% set birthDate %}
    {% if data['dob-day'] %}
        {{ data['dob-day'] + monthConvert + data['dob-year'] }}
        {% else %}
        4 March 1980
    {% endif %}
{% endset %}

{% set testReason %}
    {% if data ['treatment-eligible'] == "yes" %}
        Eligible for COVID-19 treatments
    {% elif data ['test-reason-health'] == "procedure" %}
        Being admitted into {{ data['hospital-name'] or 'Manchester Royal Infirmary' }} for a procedure or treatment
    {% elif data ['test-reason-health'] == "gp" %}
        On {{ data['date-asked-day'] + monthConvert + data['date-asked-year'] or '5 March 2023'}} a GP or healthcare professional asked you to get a test 
    {% elif data ['test-reason-work'] == "nhs" %}
        You work for the NHS in a patient-facing role
    {% elif data ['test-reason-work'] == "ihp" %}
        You work with NHS patients for {{ data['ihp-name'] or 'an independent healthcare provider '}}
    {% elif data ['test-reason-work'] == "social" %}
        You work in adult social care as a {{ data['job-title'] or 'social worker'}}
    {% else %}
        Eligible for COVID-19 treatments
    {% endif %}
{% endset %}

{% set email %}
    {% if data['confirmEmailAddress'] %}
        {{ data['confirmEmailAddress'] }}
        {% else %}
        your@email-is.cool
    {% endif %}
{% endset %}

{% set phoneNumber %}
    {% if data['confirmMobileNumber'] %}
        {{ data['confirmMobileNumber'] }}
        {% else %}
        07766 554321
    {% endif %}
{% endset %}

{% set contactDetails %}
    <p class="govuk-body">
        {{ email }}
    </p>
    <p class="govuk-body">
        {{ phoneNumber }}
    </p>
{% endset %}

{% set delAddress %}
    {% if data['selectDelAddress'] %}
        {{ data['selectDelAddress']}} 
    {% elif data['deliveryAddressLine1'] %}
        {{ data['deliveryAddressLine1']}}, {{ data['deliveryAddressLine2']}}, {{ data['deliveryAddressTown']}}, {{ data['delPostcode' or 'deliveryPostcode' or 'delPostcodeNew']}}
    {% endif %}
{% endset %}

{% set homeAddress %}
    {% if data['confirmHomeAddress'] == "yes" %}
        {{ delAddress }}
    {% elif data['confirmHomeAddress'] == "no" and data['selectDelAddress']%}
        {{ data['selectDelAddress']}} 
    {% elif data['confirmHomeAddress'] == "no" and data['addressLine1'] %}
        {{ data['addressLine1']}}, {{ data['addressLine2']}}, {{ data['addressTown']}}, {{ data['addressPostcode']}},
    {% endif %}
{% endset %}



{% block content %}
    {# https://design-system.service.gov.uk/styles/typography/#headings #}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    {% if data ['delPostcode'] == "ENG 1ND"%}
        <h2 class="govuk-heading-m">
            Reason for test
        </h2>

        {# https://design-system.service.gov.uk/components/summary-list/ #}
        {{ govukSummaryList({
            classes: "govuk-!-margin-bottom-9",
            rows: [
                {
                    key: {
                        text: "Reason"
                    },
                    value: {
                        text: testReason
                    },
                    actions: {
                        items: [
                            {
                                href: "#",
                                text: "Change",
                                visuallyHiddenText: "change reason for test"
                            }
                        ]
                    }
                }
            ]
        }) }}
    {% endif %}

    <h2 class="govuk-heading-m">
        Personal details
    </h2>
    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
            {
                key: {
                    text: "Name"
                },
                value: {
                    text: name
                },
                actions: {
                    items: [
                        {
                            href: "#",
                            text: "Change",
                            visuallyHiddenText: "change name"
                        }
                    ]
                }
            },
            {
                key: {
                    text: "Date of birth"
                },
                value: {
                    text: birthDate
                },
                actions: {
                    items: [
                        {
                            href: "#",
                            text: "Change",
                            visuallyHiddenText: "change date of birth"
                        }
                    ]
                }
            },
            {
                key: {
                    text: "Contact details"
                },
                value: {
                    html: contactDetails
                },
                actions: {
                    items: [
                        {
                            href: "#",
                            text: "Change",
                            visuallyHiddenText: "change your contact details"
                        }
                    ]
                }
            },
            {
                key: {
                    text: "Home address"
                },
                value: {
                    html: "<p class='govuk-body'>" + homeAddress + "</p>"
                },
                actions: {
                    items: [
                        {
                            href: "#",
                            text: "Change",
                            visuallyHiddenText: "change your home address"
                        }
                    ]
                }
            },
            {
                key: {
                    text: "Delivery address"
                },
                value: {
                    html: "<p class='govuk-body'>" + delAddress + "</p>"
                },
                actions: {
                    items: [
                        {
                            href: "#",
                            text: "Change",
                            visuallyHiddenText: "change your delivery address"
                        }
                    ]
                }
            }
        ]
    }) }}

    <h2 class="govuk-heading-m">
        Declaration
    </h2>
    <p class="govuk-body">
        By ordering rapid lateral flow home tests, I confirm that: 
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>
            The information I've provided is up to date and correct 
        </li>
        <li>
            I agree with the Terms and conditions and Privacy policy of this service 
        </li>
        <li>
            I am happy to be contacted about my order 
        </li>
    </ul>
    

        {# https://design-system.service.gov.uk/components/button/ #}
        {{ govukButton({
            text: "Agree and place order",
            classes: "govuk-!-margin-top-4",
            href: "confirmation"
        }) }}

{% endblock %}