{% set pageTitle = "Order received" %}
{% extends "layout_question.html" %}

{% block beforeContent %}
    {{ govukPhaseBanner({
        tag: {
            text: "Beta"
        },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
{% endblock%}

{% block content %}

    {{ govukPanel({
        titleText: pageTitle,
        classes: "govuk-!-padding-8 govuk-!-margin-bottom-8"
    }) }}

    <p class="govuk-body">
        You will get an order confirmation email soon. 
    </p>

    <h2 class="govuk-heading-m">
        What happens next
    </h2>

    <p class="govuk-body">
        Your pack of rapid lateral flow test kits should arrive within 3 days, but may take longer during busy periods and public holidays. 
    </p>
   
    <p class="govuk-body">
                If you need help, <a href="https://www.nhs.uk/nhs-services/covid-19-services/when-to-call-119/" target="_blank" rel="noopener noreferrer">find out when you can contact 119 (opens in new tab)</a>. 
                If you need a British Sign Language (BSL) interpreter, you can <a href="http://signvideo.co.uk/nhs119/" target="_blank" rel="noopener">use SignVideo to call 119 (opens in new tab)</a>. Details are also in your confirmation email.
            </p>

    {% if data['blindPartallySighted'] == "yes" %}
        <h2 class="govuk-heading-m">
            Get instructions in Braille, audio or large print
        </h2>
        <p class="govuk-body">
            You can get Braille, audio or large print test kit instructions from the Royal National Institute of Blind People (RNIB).
        </p>
        <p class="govuk-body">
            The brand name of your test kit will be <span class="govuk-!-font-weight-bold">Acon FlowFlex</span>. You need to know this to get the correct instructions from the RNIB.
        </p>
        <p class="govuk-body">
            <a href="https://www.rnib.org.uk/your-eyes/navigating-sight-loss/sight-loss-and-wellbeing/covid-19-test-kit-instructions-in-alternative-formats/download-covid-19-rapid-lateral-flow-test-kit-instructions/" class="govuk-link">Download or order alternative format instructions from the RNIB website</a> or call 0303 123 9999 (Monday to Friday 8am to 8pm and Saturday 9am to 1pm).
        </p>

    {% endif %}


    <h2 class="govuk-heading-m">
        What is in the test pack
    </h2>

    <p class="govuk-body">
        The pack contains:
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>
            7 rapid lateral flow test kits
        </li>
        <li>
            instructions on how to take the test
        </li>
        <li>
            instructions on how to report each result to the NHS
        </li>
    </ul>

    <ul class="govuk-list">
        <li>
            <a href="https://www.gov.uk/guidance/covid-19-self-test-help">Watch a short video: how to take a rapid lateral flow test</a>
        </li>
        <li>
            <a href="https://www.gov.uk/government/publications/instructions-for-covid-19-self-test">Get test instructions in other languages or easy read and large print format</a>
        </li>
        <li>
            <a href="https://www.gov.uk/report-covid19-result">Reporting your results to the NHS</a>
        </li>
    </ul>

{% endblock %}