{% set pageTitle = "Enter the postcode of the delivery address" %}
{% extends "layout_question.html" %}
{% set existingPastcode = data['delPostcode'] %}

{% block content %}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    <p class="govuk-body">
        We're asking this question because the rules for who can get free tests depend on the country in the delivery address.
    </p>

    <form action="/delivery-postcode-change-answer" class="form" method="post">
        {# https://design-system.service.gov.uk/components/text-input/ #}
        {{ govukInput({
            id: "delPostcodeNew",
            name: "delPostcodeNew",
            classes: "govuk-input--width-10",
            autocomplete: "postal-code",
            value: existingPastcode,
            label: {
                text: "Postcode",
                isPageHeading: false
            }
        }) }}

        <p class="govuk-body">
            <a href="dcountry-choice" class="govuk-link">I don't know the postcode of the delivery address</a>
        </p>

        {# https://design-system.service.gov.uk/components/button/ #}
        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}
    </form>
{% endblock %}