{% set pageTitle = "Where in the UK do you live?" %}
{% extends "layout_question.html" %}

{% block content %}

    <h1 class="govuk-heading-l">
        Enter the postcode of the delivery addess
    </h1>

    <p class="govuk-body">
        We're asking this question because there are different rules for who can get free tests. These rules change depending on the country in the delivery address.
    </p>

    <form action="/delivery-postcode-answer" class="form" method="post">
        {# https://design-system.service.gov.uk/components/text-input/ #}
        {{ govukInput({
            id: "delPostcode",
            name: "delPostcode",
            classes: "govuk-input--width-10",
            autocomplete: "postal-code",
            label: {
                text: "Postcode",
                isPageHeading: false
            }
        }) }}

        <p class="govuk-body">
            <a href="delivery-address-manual" class="govuk-link">I don't know the postcode of the delivery address</a>
        </p>

        {# https://design-system.service.gov.uk/components/button/ #}
        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}
    </form>
{% endblock %}