{% set pageTitle = "What is your job title? " %}
{% extends "layout_question.html" %}

{% block content %}
    <form action="/order-lateral-flow-kits/login-choice" class="form" method="post">
        {{ govukInput({
            id: "ihp-name",
            name: "ihp-name",
            label: {
                text: pageTitle,
                classes: "govuk-label--l",
                isPageHeading: true
            },
            hint: {
                text: "For example, personal assistant, Shared Lives carer, Care Quality Commission (CQC) inspector or social worker"
            }
        }) }}

        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}
    </form>
{% endblock %}