{% set pageTitle = "Enter the postcode of the delivery address" %}
{% extends "layout_question.html" %}

{% block content %}

    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    <p class="govuk-body">
        Your test pack will usually arrive within 3 days. It might take longer during busy periods, public holidays or Royal Mail industrial action days.
    </p>

    <form action="/delivery-postcode-answer" class="form" method="post">
        {# https://design-system.service.gov.uk/components/text-input/ #}
        {{ govukInput({
            id: "delPostcode",
            name: "delPostcode",
            classes: "govuk-input--width-10",
            autocomplete: "postal-code",
            label: {
                text: "Postcode",
                isPageHeading: false
            }
        }) }}

        {# https://design-system.service.gov.uk/components/button/ #}
        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}
    </form>
{% endblock %}