{% set pageTitle = "Tell us more about why you need a test" %}
{% extends "layout_question.html" %}

{% if data['test-reason'] === "medical" %}
    {% set radios = [ 
        {
            value: "treatments",
            text: "COVID-19 treatments",
            hint: {
                text: "You're in the small group of people with a particular health condition that makes you eligible for specific COVID-19 treatments. These are different to vaccinations."
            } 
        },
        {
            value: "hospital",
            text: "Being admitted into hospital",
            hint: {
                text: "Your doctor or healthcare professional has told you to get a test because you're being admitted into hospital for a procedure or treatment."
            }
        },
        {
            value: "asked-to-test",
            text: "Asked to get a test",
            hint: {
                text: "You've spoken to your GP or healthcare professional recently and they asked you to get a test."
            }
        },
        {
            divider: "or"
        },
        {
            value: "another",
            text: "The reason is not listed"
        }
    ] %}

    {% elif data['test-reason'] === "work" %}

    {% set radios = [
        {
            value: "nhs-patient-facing",
            text: "You work for the NHS in a patient-facing role"
        },
        {
            value: "ihp-nhs-patients",
            text: "You work with NHS patients for an independent healthcare provider"
        },
        {
            value: "adult-social-care",
            text: "Adult social care",
            hint: {
                text: "You work in adult social care as a personal assistant, Shared Lives carer, Care Quality Commission (CQC) inspector or social worker."
            } 
        },
        {
            divider: "or"
        },
        {
            value: "another",
            text: "The reason is not listed"
        }
    ] %}

    {% elif data['test-reason'] === "nhs-patient-facing" or data['test-reason'] === "ihp-nhs-patients"%}

    {% set radios = [
        {
            value: "return-to-work",
            text: "Return to work",
            hint: {
                text: "You've been off work with COVID-19 and you need a test to return to work."
            } 
        },
        {
            value: "work-with-hi-risk",
            text: "Work with high risk people",
            hint: {
                text: "You work with people who are at high risk of getting seriously ill from COVID-19 and your employer told you to get a test."
            } 
        },
        {
            value: "you-are-hi-risk",
            text: "You're at high risk",
            hint: {
                text: "You're at high risk of getting seriously ill from COVID-19 and your employer told you to get a test."
            } 
        },
        {
            divider: "or"
        },
        {
            value: "another",
            text: "The reason is not listed"
        }
    ]%}

    {% elif data['test-reason'] === "adult-social-care" %}

    {% set radios = [
        {
            value: "return-to-work",
            text: "Return to work",
            hint: {
                text: "You've been off work with COVID-19 and you need a test to return to work."
            } 
        },
        {
            divider: "or"
        },
        {
            value: "another",
            text: "The reason is not listed"
        }
    ]%}

{% endif %}

{% block content %}
    <form action="/test-reason-more-answer" class="form" method="post">
        {{ govukRadios({
            idPrefix: "test-reason-more",
            name: "test-reason-more",
            fieldset: {
                legend: {
                    text: pageTitle,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
                }
            }, 
            items: radios
        }) }}

        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}
    </form>
{% endblock %}