{% set pageTitle = "Why do you need a test?" %}
{% extends "layout_question.html" %}

{% if data['do-you-have-symptoms'] === "yes" %}
    {% set radios = [
        {
            value: "medical",
            text: "Medical reasons",
            hint: {
                text: "You may be eligible for COVID-19 treatments, or your GP or healthcare professional has asked you to take a test."
            }
        },
        {
            value: "work",
            text: "Work reasons",
            hint: {
                text: "You've been asked to take a test because you work for the NHS, or an NHS-commissioned independent healthcare provider, or in adult social care."
            }
        },
        {
            divider: "or"
        },
        {
            value: "another",
            text: "The reason is not listed"
        }
    ] %}

    {% else %}

    {% set radios = [
        {
            value: "medical",
            text: "Medical reasons",
            hint: {
                text: "You may be eligible for COVID-19 treatments, or your GP or healthcare professional has asked you to take a test."
            }
        },
        {
            value: "Work reasons",
            text: "Work reasons",
            hint: {
              text: "You care for patients, or care residents, at high risk from COVID-19, and you work for the NHS, a hospice, or with NHS patients for an independent healthcare provider."
            }
        },

        {
            divider: "or"
        },
        {
            value: "another",
            text: "The reason is not listed"
        }
    ] %}
{% endif %}

{% block content %}
    <form action="/test-reason-answer" class="form" method="post">
        {{ govukRadios({
            idPrefix: "test-reason",
            name: "test-reason",
            fieldset: {
                legend: {
                    text: pageTitle,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
                }
            },
            items: radios
        }) }}

        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}
    </form>
{% endblock %}
