{% set pageTitle = "Tell us more about why you need a test" %}
{% extends "layout_question.html" %}

{% if data['test-reason'] === "medical" %}
    {% set radios = [ 
        {
            value: "treatments",
            text: "COVID-19 treatments",
            hint: {
                text: "You're in the small group of people with a particular health condition that makes you eligible for specific COVID-19 treatments. These are different to vaccinations."
            } 
        },
        {
            value: "hospital",
            text: "Being admitted into hospital",
            hint: {
                text: "Your doctor or healthcare professional has told you to get a test because you're being admitted into hospital for a procedure or treatment."
            }
        },
        {
            value: "asked-to-test",
            text: "Asked to get a test",
            hint: {
                text: "You've spoken to your GP or healthcare professional recently and they asked you to get a test."
            }
        },
        {
            divider: "or"
        },
        {
            value: "another",
            text: "The reason is not listed"
        }
    ] %}

    {% elif data['test-reason'] === "work" %}

    {% set radios = [
        {
            value: "nhs-patient-facing",
            text: "NHS",
            hint: {
                text: "You work for the NHS, caring for patients at high risk from COVID-19"
            }
        },
        {
            value: "ihp-nhs-patients",
            text: "Independent healthcare provider",
            hint: {
                text: "You work for an independent healthcare provider, caring for NHS patients at high risk from COVID-19"
            }
        },
        {
            divider: "or"
        },
        {
            value: "another",
            text: "The reason is not listed"
        }
    ] %}

{% endif %}

{% block content %}
    <form action="/test-reason-more-answer" class="form" method="post">
        {{ govukRadios({
            idPrefix: "test-reason-more",
            name: "test-reason-more",
            fieldset: {
                legend: {
                    text: pageTitle,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
                }
            }, 
            items: radios
        }) }}
        
        {% if data['test-reason'] === "nhs-patient-facing" or data['test-reason'] === "ihp-nhs-patients"%}
            <p class="govuk-body">
                Find out <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/people-at-higher-risk/who-is-at-high-risk-from-coronavirus/" class="govuk-link" rel="noreferrer noopener" target="_blank">who is at high risk of getting seriously ill from COVID-19 (opens in new tab)</a>.
            </p>
        {% endif %}

        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}
    </form>
{% endblock %}