{# grab the answer from the symptoms Q on condition.html to set the valuee for radio's to route correctly #}
{% if data ['do-you-have-symptoms'] == "no" %}
    {% set nhs = "nhsNoSymptoms"%}
    {% set ihp = "ihpNoSymptoms"%}
    {% set social = "socialpNoSymptoms"%}
{% else %}
    {% set nhs = "nhs"%}
    {% set ihp = "ihp"%}
    {% set social = "social"%}
{% endif %}

{% set pageTitle = "What is your area of work?" %}
{% extends "layout_question.html" %}

{% block content %}
    <form action="/reason-work-answer" class="form" method="post">
        {{ govukRadios({
            idPrefix: "test-reason-work",
            name: "test-reason-work",
            fieldset: {
                legend: {
                    text: pageTitle,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
                }
            }, 
            items: [
                {
                    value: nhs,
                    text: "You work for the NHS in a patient-facing role"
                },
                {
                    value: ihp,
                    text: "You work for an independent healthcare provider commissioned by the NHS in a patient-facing role"
                },
                {
                    value: social,
                    text: "You work in adult social care as a personal assistant, Shared Lives carer, Care Quality Commission (CQC) inspector or social worker"
                },
                {
                    divider: "or"
                },
                {
                    value: "another",
                    text: "None of these"
                }
            ]
        }) }}

        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}
    </form>
{% endblock %}