{% set pageTitle = "Why do you need a test?" %}
{% extends "layout_question.html" %}


    {% set radios = [
        {
            value: "work",
            text: "Hospice",
            hint: {
                text: "You work for a hospice, caring for residents at high risk from COVID-19."
            }
        },
        {
            value: "another",
            text: "Another reason"
        }
    ] %}



{% block content %}
    <form action="/test-reason-answer" class="form" method="post">
        {{ govukRadios({
            idPrefix: "test-reason",
            name: "test-reason",
            fieldset: {
                legend: {
                    text: pageTitle,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
                }
            },
            items: radios
        }) }}

        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}
    </form>
{% endblock %}
