{% set pageTitle = "Why do you need a test?" %}
{% extends "layout_question.html" %}

{% if data['do-you-have-symptoms'] === "yes" %}
    {% set radios = [ 
        {
            value: "medical",
            text: "Medical reasons",
            hint: {
                text: "You may be eligible for COVID-19 treatments, you're being admitted into hospital for a procedure or treatment, or your GP or healthcare professional has asked you to take a test."
            } 
        },
        {
            value: "work",
            text: "Work reasons",
            hint: {
                text: "You care for patients at high risk from COVID-19, and you work for the NH or with NHS patients for an independent healthcare provider."
            }
        },
        {
            divider: "or"
        },
        {
            value: "another",
            text: "The reason is not listed"
        }
    ] %}

    {% else %}

    {% set radios = [
        {
            value: "treatments",
            text: "COVID-19 treatments",
            hint: {
                text: "You're in the small group of people with a particular health condition that makes you eligible for specific COVID-19 treatments. These are different to vaccinations."
            } 
        },
        {
            value: "hospital",
            text: "Being admitted into hospital",
            hint: {
                text: "Your doctor or healthcare professional has told you to get a test because you're being admitted into hospital for a procedure or treatment."
            }
        },
        {
            value: "asked-to-test",
            text: "Asked to get a test",
            hint: {
                text: "You've spoken to your GP or healthcare professional recently and they asked you to get a test."
            }
        },
        {
            divider: "or"
        },
        {
            value: "another",
            text: "The reason is not listed"
        }
    ] %}
{% endif %}

{% block content %}
    <form action="/test-reason-answer" class="form" method="post">
        {{ govukRadios({
            idPrefix: "test-reason",
            name: "test-reason",
            fieldset: {
                legend: {
                    text: pageTitle,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
                }
            }, 
            items: radios
        }) }}

        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}
    </form>
{% endblock %}