{% set pageTitle = "Why do you need a test?" %}
{% extends "layout_question.html" %}

{% if data['do-you-have-symptoms'] === "yes" %}
    {% set radios = [
        {
            value: "medical",
            text: "COVID-19 treatments",
            hint: {
                text: "You're in the small group of people with a particular health condition that makes you eligible for specific COVID-19 treatments. These are different to vaccinations."
            }
        },
        {
            value: "work",
            text: "Hospice",
            hint: {
                text: "You work for a hospice, caring for residents at high risk from COVID-19."
            }
        },
        {
            divider: "or"
        },
        {
            value: "another",
            text: "The reason is not listed"
        }
    ] %}

    {% else %}

    {% set radios = [
        {
            value: "medical",
            text: "COVID-19 treatments",
            hint: {
                text: "You're in the small group of people with a particular health condition that makes you eligible for specific COVID-19 treatments. These are different to vaccinations."
            }
        },
        {
            value: "another",
            text: "The reason is not listed"
        }
    ] %}
{% endif %}

{% block content %}
    <form action="/test-reason-answer" class="form" method="post">
        {{ govukRadios({
            idPrefix: "test-reason",
            name: "test-reason",
            fieldset: {
                legend: {
                    text: pageTitle,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
                }
            },
            items: radios
        }) }}

        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}
    </form>
{% endblock %}
