{% set pageTitle = "Most people in Northern Ireland can no longer get free rapid lateral flow tests" %}
{% set colWidth = "govuk-grid-column-full" %}
{% extends "layout_question.html" %}

{# *** NI - NI - NI *** #}

{% block content %}
    <div class="govuk-panel govuk-panel--interuption govuk-!-padding-8">
        <h1 class="govuk-panel__title">
            {{ pageTitle }}
        </h1>

        <div class="govuk-panel__body">
            
                
            <p class="govuk-body">You may still be able to get free tests if:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    you may be eligible for <a href="https://www.nidirect.gov.uk/articles/treatments-coronavirus-covid-19" class="govuk-link" target="_blank" rel="noopener noreferrer">COVID-19 treatments (opens in new tab)</a>
                </li>
                <li>
                    you work in health or social care and you have COVID-19 symptoms
                </li>
                <li>
                    you're a carer who provides close personal care for<a href="https://www.nidirect.gov.uk/articles/treatments-coronavirus-covid-19" class="govuk-link" rel="noreferrer noopener" target="_blank"> someone who is at higher risk if they contract COVID-19 (opens in new tab)</a> and you have COVID-19 symptoms
                </li>
                <li>
                    your GP or a healthcare professional asks you to take a test
                </li>
            </ul>

            <p class="govuk-body">
                Find out <a href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-testing-and-stay-home-advice" class="govuk-link" target="_blank" rel="noopener noreferrer">who can get free rapid lateral flow tests (opens in new tab)</a>.
            </p>

            {{ govukButton({
                text: "Continue",
                href: "test-reason-category-ni",
                classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-0"
            }) }}
                
        </div>
    </div>
{% endblock %}

{# *** NI - NI - NI *** #}