{% set pageTitle = "Free lateral flow tests are no longer available to order online" %}
{% extends "layout_question.html" %}

{# *** NI - NI - NI *** #}


{% block content %}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>


    <p class="govuk-body">
      Do not phone for a test. You will not be able to get one this way.
    </p>

    <p class="govuk-body">You may be able to get a free test from a pharmacy if you are:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>
            eligible for <a href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-vaccine-safety" class="govuk-link">COVID-19 treatments</a>
        </li>
        <li>
            a carer who provides close personal care for someone who is at <a href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-guidance-people-higher-risk-covid-19" class="govuk-link">higher risk from COVID-19</a> and you have COVID-19 symptoms
        </li>
    </ul>

    <h2 class="govuk-heading-m">
      If you work in health or social care
    </h2>
    <p class="govuk-body">
      You may still be able to get free lateral flow tests through your employer.
    </p>

    <h2 class="govuk-heading-m">
        If you have symptoms
    </h2>
    <p class="govuk-body">
        Find out <a href="https://www.nidirect.gov.uk/articles/symptoms-respiratory-infections-including-covid-19" class="govuk-link"> what to do if you think you have COVID-19</a>.
        If you're worried, or your symptoms get worse, contact your GP or your GP out-of-hours service. In an emergency, dial 999.
    </p>

{% endblock %}

{# *** NI - NI - NI *** #}
