{% set pageTitle = "You can no longer order free rapid lateral flow tests online" %}

{% set colWidth = "govuk-grid-column-two-thirds" %}

{% extends "layout_question.html" %}

{# *** ENGLAND - ENGLAND - ENGLAND *** #}

{% block content %}

                <h1 class="govuk-heading-l">
                    {{ pageTitle }}
                </h1>

                <p class="govuk-body">Do not phone for a test. You will not be able to get one this way.</p>
                <p class="govuk-body">You may be able to get free NHS tests from a pharmacy. <a href="https://www.nhs.uk/service-search/pharmacy/find-a-pharmacy">Find a pharmacy near you.</a></p>

                <h2 class="govuk-heading-m">If you have symptoms</h2>
                <p class="govuk-body">Find out <a href="https://www.nhs.uk/conditions/covid-19/covid-19-symptoms-and-what-to-do/">what to do if you think you have COVID-19</a>.</p>
                <p class="govuk-body">If you have symptoms and they get worse, call 111 or speak to your GP. In an emergency dial 999.</p>

                <h2 class="govuk-heading-m">If you're worried</h2>
                <p class="govuk-body">Find out <a href="https://www.nhs.uk/conditions/covid-19/how-to-avoid-catching-and-spreading-covid-19/">how to avoid catching and spreading COVID-19</a>.</p>
                <p>You can also find <a href="https://www.nhs.uk/every-mind-matters/">advice and support if you're worried about catching COVID-19</a>.</p>

{% endblock %}

{# *** ENGLAND - ENGLAND - ENGLAND *** #}
