{% set pageTitle = "Only hospice workers can get free tests on this service" %}
{% if data['interruption-card'] === "true" %}
    {% set colWidth = "govuk-grid-column-full" %}
{% else %}
    {% set colWidth = "govuk-grid-column-two-thirds" %}
{% endif %}

{% extends "layout_question.html" %}

{# *** ENGLAND - ENGLAND - ENGLAND *** #}

{% block content %}

    {% if data['interruption-card'] === "true" %}

        <div class="govuk-panel govuk-panel--interuption govuk-!-padding-8">
            <h1 class="govuk-panel__title">
                {{ pageTitle }}
            </h1>

                <p class="govuk-body">You may still be able to get free tests if:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        you're eligible for COVID-19 treatments (these are different to vaccinations)
                    </li>
                    <li>
                        you work in a hospice, caring for residents at high risk from COVID-19, and you have COVID-19 symptoms
                    </li>
                </ul>

                <p class="govuk-body">
                    If you work for the NHS, with NHS patients for an independent healthcare provider, or in the adult social care sector, you may still be able to get free rapid lateral flow tests through your employer.
                </p>

                <p class="govuk-body">
                    Find out  <a href="https://www.nhs.uk/nhs-services/covid-19-services/testing-for-covid-19/who-can-get-a-free-nhs-covid-19-rapid-lateral-flow-test/" class="govuk-link" target="_blank" rel="noopener noreferrer">who can get free tests (opens in new tab)</a>
                </p>

                {{ govukButton({
                    text: "Continue",
                    href: "../condition",
                    classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-0"
                }) }}

            </div>
        </div>

    {% else %}

            <div class="govuk-notification-banner" role="region"
              aria-labelledby="govuk-notification-banner-title"
              data-module="govuk-notification-banner">
              <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                  Important
                </h2>
              </div>
              <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">
                  The rules for who can get a free COVID-19 test have changed.
                </p>
              </div>
            </div>

        <h1 class="govuk-heading-l">
            {{ pageTitle }}
        </h1>

             <p class="govuk-body">You can only order free tests if you work in a hospice, caring for residents at high risk from COVID-19, and you have COVID-19 symptoms.</p>

              <!--  <p class="govuk-body">
                    Find out  <a href="https://www.nhs.uk/nhs-services/covid-19-services/testing-for-covid-19/who-can-get-a-free-nhs-covid-19-rapid-lateral-flow-test/" class="govuk-link" target="_blank" rel="noopener noreferrer">who can get free tests (opens in new tab)</a>
                </p> -->

                <h2 class="govuk-heading-m">Other ways to get free tests</h2>

                <h3 class="govuk-heading-s">If you're eligible for COVID-19 treatments</h3>
                <p class="govuk-body">
                    You may be able to get free tests from a pharmacy.
                    <a href="https://www.nhs.uk/service-search/pharmacy/find-a-pharmacy">Find a pharmacy near you</a>.<span class="govuk-visually-hidden">to get free tests if you're eligible for COVID-19 treatment</span>
                </p>    

                <h3 class="govuk-heading-s">If you work in health or social care</h3>
                <p class="govuk-body">
                  If you work for the NHS, with NHS patients for an independent healthcare provider, or in the adult social care sector, you may be able to get free tests through your employer.
                </p>

                
        {{ govukButton({
            text: "Continue",
            href: "../condition",
            classes: "govuk-!-margin-top-4"
        }) }}


    {% endif %}




{% endblock %}





{# *** ENGLAND - ENGLAND - ENGLAND *** #}
