{% set pageTitle = "You cannot order free rapid lateral flow tests" %}
{% extends "layout_question.html" %}

{# *** ENGLAND - ENGLAND - ENGLAND *** #}

{% block content %}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>
    <p class="govuk-body">
        Do not phone for a test. You will not be able to get one this way.
    </p>
    <p class="govuk-body">
        Although you cannot get a free NHS test, you can buy COVID-19 tests from some pharmacies and retailers.
    </p>
    <p class="govuk-body">
        Read more about <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/testing/get-tested-for-coronavirus/" class="govuk-link">testing for COVID-19 in England</a>.
    </p>

    <h2 class="govuk-heading-m">
          If you work in health or social care
    </h2>
     <p class="govuk-body">
        If you work for the NHS, with NHS patients for an independent healthcare provider, or in the adult social care sector, you may still be able to get free rapid lateral flow tests through your employer.
    </p>
     <p class="govuk-body">
        <a href="https://www.nhs.uk/nhs-services/covid-19-services/testing-for-covid-19/who-can-get-a-free-nhs-covid-19-rapid-lateral-flow-test/" class="govuk-link">Find out who can get a free rapid lateral flow test</a>
    </p>
     <p class="govuk-body">
        <a href="https://www.gov.uk/government/publications/coronavirus-covid-19-testing-for-adult-social-care-settings" class="govuk-link">Check the latest testing guidance for adult social care services</a>
    </p>

    <h2 class="govuk-heading-m">
        If you have symptoms
    </h2>
    <p class="govuk-body">
        Find out <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/symptoms/main-symptoms/" class="govuk-link"> what to do if you think you have COVID-19</a>.
    </p>
    <p class="govuk-body">
        If you have symptoms and they get worse, contact 111 or speak to your GP. In an emergency dial 999. 
    </p>

    <h2 class="govuk-heading-m">
        If you're worried
    </h2>
    <p class="govuk-body">
        Find out <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/how-to-avoid-catching-and-spreading-coronavirus-covid-19/" class="govuk-link"> how to avoid catching and spreading COVID-19</a>.
    </p>
    <p class="govuk-body">
        You can also find <a href="https://www.nhs.uk/every-mind-matters/coronavirus/" class="govuk-link">advice and support if you're worried about COVID-19</a>.
    </p>

{% endblock %}

{# *** ENGLAND - ENGLAND - ENGLAND *** #}