{% set pageTitle = "You cannot order free rapid lateral flow tests" %}
{% extends "layout_question.html" %}

{# *** ENGLAND - ENGLAND - ENGLAND *** #}

{% block content %}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    <p class="govuk-body">
        If you still want to take a test, you can buy one from some pharmacies and retailers.
    </p>
    
    <h2 class="govuk-heading-m">
        If you work in health or social care 
    </h2>

    <p class="govuk-body">
        If you work for the NHS, with NHS patients for an independent healthcare provider, or in the adult social care sector, you may still be eligible for free rapid lateral flow tests through your employer.
    </p>

    <p class="govuk-body">
        <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/testing/get-tested-for-coronavirus/" class="govuk-link">Find out who can get a free rapid lateral flow test</a>.
    </p>

    <p class="govuk-body">
        <a href="https://www.gov.uk/government/publications/coronavirus-covid-19-testing-for-adult-social-care-settings" class="govuk-link">Check the latest testing guidance for adult social care services</a>.
    </p>

    
{% endblock %}

{# *** ENGLAND - ENGLAND - ENGLAND *** #}