{% set pageTitle = "You need an email address to order online" %}
{% extends "layout_question.html" %}

{% block content %}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    <p class="govuk-body">
        It's OK to use someone else's.
    </p>

    <p class="govuk-body">
        <a href="javascript:window.history.go(-1);" class="govuk-link">Go back and enter an email address</a>
    </p>  

    <h2 class="govuk-heading-m">
        Do not have an email address?
    </h2>

            <p class="govuk-body govuk-!-margin-bottom-6">
                <a href="https://www.nhs.uk/nhs-services/covid-19-services/when-to-call-119/" rel="noopener noreferrer">Find out when you can contact 119</a>. 
                If you need a British Sign Language (BSL) interpreter, you can <a href="http://signvideo.co.uk/nhs119/" rel="noopener noreferrer">use SignVideo to call 119</a>.
            </p>

             <p class="govuk-body"><a href="https://www.nhs.uk/nhs-services/covid-19-services/testing-for-covid-19/" rel="noopener noreferrer">England: find out more about testing</a></p>
             <p class="govuk-body"><a href="https://www.gov.wales/get-tested-coronavirus-covid-19" rel="noopener noreferrer">Wales: find out more about testing</a></p>
             <p class="govuk-body"><a href="https://www.nhsinform.scot/illnesses-and-conditions/infections-and-poisoning/coronavirus-covid-19/coronavirus-covid-19" rel="noopener noreferrer">Scotland: find out more about testing</a></p>
             <p class="govuk-body"><a href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-testing-and-stay-home-advice" rel="noopener noreferrer">Northern Ireland: find out more about testing</a></p>
   
{% endblock %}