{% set pageTitle = "You need an email address to order online" %}
{% extends "layout_question.html" %}

{% block content %}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    <p class="govuk-body">
        It's OK to use someone else's.
    </p>

    <p class="govuk-body">
        <a href="javascript:window.history.go(-1);" class="govuk-link">Go back and enter an email address</a>
    </p>  

    <h2 class="govuk-heading-m">
        Do not have an email address?
    </h2>

            <p class="govuk-body">
                <a href="https://www.nhs.uk/nhs-services/covid-19-services/when-to-call-119/" rel="noopener noreferrer">Find out when you can contact 119</a>. 
                If you need a British Sign Language (BSL) interpreter, you can <a href="http://signvideo.co.uk/nhs119/" rel="noopener noreferrer">use SignVideo to call 119</a>.
            </p>
   
{% endblock %}