{% set pageTitle = "Is your home address the same as this delivery address?" %}
{% extends "layout_question.html" %}

{% block content %}

    <form action="/confirm-home-address-answer" class="form" method="post">

        {% set titles %}
            <h1 class="govuk-heading-l">
                {{ pageTitle }}
            </h1>
            <h2 class="govuk-heading-m">
                {% if data['deliveryAddressLine1'] %}
                    {{ data['deliveryAddressLine1'] }},  {{ data['deliveryAddressLine2'] }}, {{ data['deliveryAddressTown'] }}
                {% elif data['selectDelAddress'] %}
                    {{ data['selectDelAddress'] }}
                {% else %}
                    1 New Street, Your City, NH1 1SD
                {% endif %}
            </h2>
        {% endset %}

        {# https://design-system.service.gov.uk/components/radios/ #}
        {{ govukRadios({
            idPrefix: "confirmHomeAddress",
            name: "confirmHomeAddress",
            fieldset: {
                legend: {
                    html: titles
                }
            },
            hint: {
                html: "<p class='govuk-body'>Your home address is where you live.</p>"
            },
            items: [
                {
                    value: "yes",
                    text: "Yes"
                },
                {
                    value: "no",
                    text: "No"
                }
            ]
        }) }}

        {# https://design-system.service.gov.uk/components/button/ #}
        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}
    </form>


{% endblock %}