{% set newCountry %}
    {% if data['deliveryPostcode'] == "ENG 1ND" %}
        England
    {% elif data['deliveryPostcode'] == "SC07 1ND"%}
        Scotland
    {% elif data['deliveryPostcode'] == "N0R 1ND"%}
        Northern Ireland
    {% elif data['deliveryPostcode'] == "WA1 3LS"%}
        Wales
    {% else %}
        England
    {% endif %}
{% endset %}


{% set pageTitle = "If you continue, we'll need to check if you're eligible for tests in" + newCountry %}
{% extends "layout_question.html" %}


{% block content %}

    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    <p class="govuk-body">
        You've changed your delivery country to <strong>{{ newCountry }}</strong>
    </p>

    <form action="/postcode-change-confirmation-answer" class="form" method="post">
        {{ govukRadios({
            idPrefix: "daChangeConfirm",
            name: "daChangeConfirm",
            classes: "govuk-radios--inline",
            fieldset: {
                legend: {
                    text: "Are you sure you want to change the delivery country?",
                    isPageHeading: false
                }
            },
            items: [
                {
                    value: "yes",
                    html: "Yes"
                },
                {
                    value: "no",
                    html: "No"
                }
            ]
        }) }}

        {# https://design-system.service.gov.uk/components/button/ #}
        {{ govukButton({
            text: "Confirm and continue",
            classes: "govuk-!-margin-top-4"
        }) }}
    </form>
{% endblock %}