{% set pageTitle = "Are you sure you want to change delivery country?" %}
{% extends "layout_question.html" %}

{% set oldPostcode %}
    {% if data['delPostcode'] %}
        {{ data['delPostcode'] }}
    {% else %}
        NH48 1SD 
    {% endif %}
{% endset %}

{% set newPostcode %}
    {% if data['delPostcodeNew'] %}
        {{ data['delPostcodeNew'] }}
    {% else %}
        C019 NHS    
    {% endif %}
{% endset %}

{% block content %}


    <form action="/postcode-change-confirmation-answer" class="form" method="post">

    {{ govukRadios({
        idPrefix: "daChangeConfirm",
        name: "daChangeConfirm",
        fieldset: {
            legend: {
                text: pageTitle,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        hint: {
            html: "If you continue with this change, we'll need to check if you're eligible for tests in <strong>England</strong>."
        },
        items: [
            {
                value: "yes",
                html: "Yes, change my delivery postcode to <strong>" + newPostcode + "</strong>"
            },
            {
                value: "no",
                html: "No, Keep my delivery post code as <strong>" + oldPostcode + "</strong>"
            }
        ]
    }) }}

    {# https://design-system.service.gov.uk/components/button/ #}
    {{ govukButton({
        text: "Confirm and continue",
        classes: "govuk-!-margin-top-4"
    }) }}

    </form>

{% endblock %}

<p class="govuk-body">
    
</p>