{% set pageTitle = "Enter your delivery address" %}
{% extends "layout_question.html" %}

{% set code = data['delPostcode'] or 'NH48 1SD' %}

{% block content %}

    {# https://design-system.service.gov.uk/styles/typography/#headings #}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>
    <p class="govuk-body">
        This is the address where your test kit will be sent.
    </p>

    <form action="confirm-home-address" class="form" method="post">
        {# https://design-system.service.gov.uk/components/text-input/ #}
        {{ govukInput({
            id: "deliveryAddressLine1",
            name: "deliveryAddressLine1",
            autocomplete: "address-line1",
            label: {
                text: "Buiding and street"
            }
        }) }}
        {{ govukInput({
            id: "deliveryAddressLine2",
            name: "deliveryAddressLine2",
            autocomplete: "address-line2",
            label: {
                text: "Building and street line 2 of 2",
                classes: "govuk-visually-hidden"
            }
        }) }}
        {{ govukInput({
            id: "deliveryAddressTown",
            name: "deliveryAddressTown",
            classes: "govuk-input--width-10",
            label: {
                text: "Town or city"
            }
        }) }}
        {# {{ govukInput({
            id: "deliveryAddressPostcode",
            name: "deliveryAddressPostcode",
            classes: "govuk-input--width-10",
            label: {
                text: "Postcode"
            }
        }) }} #}

        {# https://design-system.service.gov.uk/components/summary-list/ #}
        {{ govukSummaryList({
            rows: [
                {
                    key: {
                        text: "Postcode"
                    },
                    value: {
                        text:  code
                    },
                    actions: {
                        items: [
                            {
                                href: "delivery-address-postcode",
                                text: "Change",
                                visuallyHiddenText: "Postcode"
                            }
                        ]
                    }
                }
            ]
        }) }}

        {# https://design-system.service.gov.uk/components/button/ #}
        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}
    </form>

{% endblock %}