{% set pageTitle = "Check if you are eligible to order rapid lateral flow tests" %}
{% extends "layout_question.html" %}

{# *** WALES - WALES - WALES *** #}

{% block content %}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    <p class="govuk-body">MIn Wales, you can order tests if: </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>
            <a href="https://gov.wales/covid-19-treatments" class="govuk-link" target="_blank" rel="noopener noreferrer">a doctor or specialist has said you're eligible for COVID-19 treatments (opens in new tab)</a>
        </li>
        <li>
            you are going to visit someone eligible for COVID-19 treatments
        </li>
        <li>
            your GP or healthcare professional asks you to take a test 
        </li>
    </ul>

    <h2 class="govuk-heading-m">
        If you are not eligible for tests
    </h2>
    <h2 class="govuk-heading-m">
        If you are not eligible for tests
    </h2>

    <p class="govuk-body">
        Do not call 119, as you will not be able to get a test this way. You cannot order tests from NHS 111 or 999.
    </p>

    <p class="govuk-body">
        <a href="https://gov.wales/guidance-people-symptoms-respiratory-infection-including-covid-19" class="govuk-link">Find out what to do if you think you have COVID-19</a>. If you're worried, or your symptoms get worse, contact 111 or speak to your GP. In an emergency dial 999. 
    </p>

    <p class="govuk-body">
        If you do not have symptoms,<a href="https://www.nhs.uk/conditions/coronavirus-covid-19/how-to-avoid-catching-and-spreading-coronavirus-covid-19/" class="govuk-link">find out how to avoid catching and spreading COVID-19</a>. You can also find <a href="https://callhelpline.org.uk/" class="govuk-link">advice and support if you're worried about COVID-19.</a> 
    </p>

    <h2 class="govuk-heading-m">
        Disclamer
    </h2>

    <p class="govuk-body">
        By selecting 'Confirm and continue', I confirm I am eligible to order rapid lateral flow tests. 
    </p>

    
    <div class="govuk-button-group">
    {{ govukButton({
        text: "Confirm and continue",
        href: "../login-choice",
        classes: "govuk-!-margin-top-4"
    }) }}

    <a href="https://gov.wales/get-tested-coronavirus-covid-19" class="govuk-link">I am not eligible</a>

    </div>
{% endblock %}

{# *** WALES - WALES - WALES *** #}