{% set pageTitle = "Most people in Wales can no longer get free rapid lateral flow tests" %}
{% extends "layout_question.html" %}

{# *** WALES - WALES - WALES *** #}

{% block content %}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    <p class="govuk-body">You can order tests if:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>
            <a href="https://gov.wales/covid-19-treatments" class="govuk-link" target="_blank" rel="noopener noreferrer">a doctor or specialist has said you're eligible for new COVID-19 treatments (opens in new tab)</a>
        </li>
        <li>
            your GP or healthcare professional asks you to take a test
        </li>
    </ul>

    {{ govukButton({
        text: "Continue",
        href: "test-reason-category-wales",
        classes: "govuk-!-margin-top-4"
    }) }}

{% endblock %}

{# *** WALES - WALES - WALES *** #}
