{% set pageTitle = "Most people in Wales can no longer get free rapid lateral flow tests" %}
{% if data['interruption-card'] === "flase" %}
    {% set colWidth = "govuk-grid-column-two-thirds" %}
{% else %}
    {% set colWidth = "govuk-grid-column-full" %}
{% endif %}
{% extends "layout_question.html" %}

{# *** WALES - WALES - WALES *** #}

{% block content %}
    {% if data['interruption-card'] === "false" %}
        <h1 class="govuk-heading-l">
            {{ pageTitle }}
        </h1>

        <p class="govuk-body">You can order tests if:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a href="https://gov.wales/covid-19-treatments" class="govuk-link" target="_blank" rel="noopener noreferrer">a doctor or specialist has said you're eligible for new COVID-19 treatments (opens in new tab)</a>
            </li>
            <li>
                your GP or healthcare professional asks you to take a test
            </li>
        </ul>

        {{ govukButton({
            text: "Continue",
            href: "../symptoms-da",
            classes: "govuk-!-margin-top-4"
        }) }}

    {% else %}

        <div class="govuk-panel govuk-panel--interuption govuk-!-padding-8">
            <h1 class="govuk-panel__title">
                {{ pageTitle }}
            </h1>

            <div class="govuk-panel__body">
                <p class="govuk-body">You can order tests if:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        <a href="https://gov.wales/covid-19-treatments" class="govuk-link" target="_blank" rel="noopener noreferrer">a doctor or specialist has said you're eligible for new COVID-19 treatments (opens in new tab)</a>
                    </li>
                    <li>
                        your GP or healthcare professional asks you to take a test
                    </li>
                </ul>

                {{ govukButton({
                    text: "Continue",
                    href: "../symptoms-da",
                    classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-0"
                }) }}

            </div>
        </div>

    {% endif %}
{% endblock %}

{# *** WALES - WALES - WALES *** #}
