{% set pageTitle = "Free rapid lateral flow tests are no longer available to order online" %}
{% extends "layout_question.html" %}

{# *** WALES - WALES - WALES *** #}

{% block content %}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    <p class="govuk-body">
        Do not phone for a test. You will not be able to get one this way.
    </p>

    <p class="govuk-body">
        Although you cannot get a free NHS test, you can buy COVID-19 tests from some pharmacies and retailers, in person or online. 
    </p>
    
    <p class="govuk-body">
        Read more about <a href="https://www.gov.wales/get-tested-coronavirus-covid-19" class="govuk-link"> testing for COVID-19 in Wales</a>.
    </p>

    <h2 class="govuk-heading-m">
        If you work in health or social care 
    </h2>

    <p class="govuk-body">
        If you work for the NHS, with NHS patients for an independent healthcare provider, or in the adult social care sector, you may still be able to get free rapid lateral flow tests through your employer.
    </p>

    <p class="govuk-body">
        <a href="https://www.gov.wales/covid-19-testing-health-and-social-care-workers" class="govuk-link">Find out about COVID-19 testing for health and social care workers.</a>
    </p>


    <h2 class="govuk-heading-m">
        If you're worried
    </h2>

    <p class="govuk-body">
        Find out <a href="https://www.gov.wales/guidance-people-symptoms-respiratory-infection-including-covid-19" class="govuk-link">what to do if you think you have COVID-19</a>. If you're worried, or your symptoms get worse, contact 111 or speak to your GP. In an emergency dial 999.
    </p>

    <p class="govuk-body">
        If you do not have symptoms, find out <a href="https://www.nhs.uk/conditions/covid-19/how-to-avoid-catching-and-spreading-covid-19/" class="govuk-link"> how to avoid catching and spreading COVID-19</a>. You can also find <a href="https://www.callhelpline.org.uk/" class="govuk-link">advice and support if you're worried about COVID-19</a>.
    </p>

{% endblock %}

{# *** WALES - WALES - WALES *** #}