{% set pageTitle = "Why do you need a test?" %}
{% extends "layout_question.html" %}

{# *** WALES - WALES - WALES *** #}
{% block content %}
    <form action="/reason-category-answer-wales" class="form" method="post">
        {{ govukRadios({
            idPrefix: "test-reason-category-wales",
            name: "test-reason-category-wales",
            fieldset: {
                legend: {
                    text: pageTitle,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
                }
            }, 
            items: [
                {
                    value: "treatments",
                    text: "COVID-19 treatments",
                    hint: {
                        text: "A doctor or specialist has said you're eligible for specific treatments for COVID-19 because you have a particular health condition. These treatments are different to vaccinations and are not available to everyone."
                    }
                },
                {
                    value: "gp",
                    text: "Asked to take a test",
                    hint: {
                        text: "Your GP or a healthcare professional has asked you to take a test."
                    }
                },
                {
                    divider: "or"
                },
                {
                    value: "none",
                    text: "The reason is not listed"
                }
            ]
        }) }}

        {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-4"
        }) }}
    </form>
{% endblock %}
{# *** WALES - WALES - WALES *** #}