{% set pageTitle = "You are not eligible for free rapid lateral flow tests  " %}
{% extends "layout_question.html" %}

{# *** NI - NI - NI *** #}


{% block content %}
    <h1 class="govuk-heading-l">
        {{ pageTitle }}
    </h1>

    {{ govukWarningText({
        text: "Do not phone for a test. You will not be able to get one this way.",
        iconFallbackText: "Warning"
    }) }}

    <p class="govuk-body">
        Although you cannot get free tests, you can buy COVID-19 tests from some pharmacies and shops, in person and online.
    </p>

    <h2 class="govuk-heading-m">
        If you're worried
    </h2>
    <p class="govuk-body">
        <a href="https://www.nhsinform.scot/illnesses-and-conditions/infections-and-poisoning/coronavirus-covid-19/coronavirus-covid-19/" class="govuk-link">Find out  what to do if you think you have COVID-19</a>.  If you're worried, or your symptoms get worse, contact 111 or speak to your GP. In an emergency dial 999.
    </p>

    <p class="govuk-body">
        You can also find <a href="https://www.nhs.uk/every-mind-matters/coronavirus/" class="govuk-link">advice and support if you're worried about COVID-19</a>.
    </p>
{% endblock %}

{# *** NI - NI - NI *** #}
